body {
  min-width: 130px;
}

a, a:hover {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  vertical-align: middle;
  margin: auto;
  color: black;
  padding-left: 5px;
}

a:hover {
  background-color: rgb(230, 230, 230);
}

svg {
  vertical-align: middle;
  padding-right: 2px;
}
